<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

    <script src="/js/d3.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/graphics.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>City stats</title>
    {% endif %}
  </head>
  <body onLoad="print_diagram({{d}})">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="well">
                    <h1>Saint-Petersburg city stats visualizer</h1>
                    <form>
                        X: {{form.x_field}}
                        Y: {{form.y_field}}
                        <input class="btn btn-primary" type="submit"></input>
                    </form>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul>
                            {% for message in messages %}
                                <li>{{ message }} </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
  </body>
</html>